<table class="bg-white w-full mx-1 table-fixed">
    <col>
    {% for scoring_category in test.pattern_scoring_categories %}
        <colgroup span="{{ scoring_category.points.len() }}"></colgroup>
    {% endfor %}

    <h2 class="text-2xl font-bold py-4 px-4 border-b-2 text-center">Pattern Scoring</h2>

    <!-- Label the Scoring Categories -->
    <thead class="sticky top-0 bg-white z-10">
        <!-- Create the Overall Scoring Category Headers -->
        <tr>
            <!-- Empty Padding to Align Everything -->
            <th class="w-1/4"></th>

            {% for scoring_category in test.pattern_scoring_categories %}
                <th class="lg:text-4xl py-2" colspan="{{ scoring_category.points.len() }}" scope="colgroup">
                    {{ scoring_category.name }}
                </th>
            {% endfor %}
        </tr>

        <!-- Create the Detailed Scoring Headers -->
        <tr>
            <!-- Empty Padding to Align Everything -->
            <th class="w-1/4 border-r"></th>

            {% for scoring_category in test.pattern_scoring_categories %}
                {% for header in scoring_category.headers %}
                    <th class="mt-1 text-gray-600 lg:text-2xl {% if loop.last %}border-r border-gray-300{% else %}{% endif %}">
                        {{ header }}
                    </th>
                {% endfor %}
            {% endfor %}
        </tr>
    </thead>

    <!-- Add the Patterns -->
    <tbody>
        {% for pattern in test.patterns %}
        <tr>
            <!-- Add the Pattern Name to the Left Column -->
            <td class="py-2 px-4 border-b border-r font-bold sm:text-sm md:text-xl lg:text-2xl text-right">{{ pattern }}</td>

            <!-- Add radio buttons for each scoring category -->
            {% for scoring_category in test.pattern_scoring_categories %}
                {% for point in scoring_category.points %}
                    <!-- Add a border between scoring categories for comprehension -->
                    <td class="py-2 px-1 w-full border-b text-center {% if loop.last %}border-r border-gray-300 last:border-0{% else %}{% endif %}">
                        <input 
                            type="radio" 
                            name="pattern--{{ pattern|lower|replace(" ", "_") }}--scoring_category--{{ scoring_category.name|lower|replace(" ", "_") }}--max_score--{{ scoring_category.max_score }}" 
                            id="pattern--{{ pattern|lower|replace(" ", "_") }}--scoring_category--{{ scoring_category.name|lower|replace(" ", "_") }}--max_score--{{ scoring_category.max_score }}--{{ point }}" 
                            value="{{ point }}" 
                            class="hidden peer" 
                            required
                            {% if loop.last %}checked{% else %}{% endif %}
                        >
                        <label 
                            for="pattern--{{ pattern|lower|replace(" ", "_") }}--scoring_category--{{ scoring_category.name|lower|replace(" ", "_") }}--max_score--{{ scoring_category.max_score }}--{{ point }}" 
                            class="inline-flex items-center justify-center w-full h-12 p-2 text-sm font-medium text-gray-900 bg-white border-2 border-gray-300 rounded-lg cursor-pointer peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent hover:bg-gray-100 hover:shadow-sm transition duration-300"
                        >
                            {{ point }}
                        </label>
                    </td>
                {% endfor %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
