<table class="min-w-full bg-white">
    <!-- Add the labels for the % of the dance that each technique must be present -->
    <thead>
        <tr>
            <!-- Blank header to properly align everything -->
            <th></th>
            {% for header in technique_group.technique_headers %}
                <th>{{ header }}</th>   
            {% endfor %}
        </tr>
    </thead>
    <!-- Add each of the individual techniques -->
    <tbody>
        {% for technique in technique_group.techniques %}
        <tr>
            
            <!-- Technique Name and Label On Left -->
            <td class="py-2 px-4 border-b text-xl text-right">{{ technique.name }} {{ technique.subtext }}</td>

            <!-- Technique Point Values: Assumes that technique.points is always as long as technique headers -->
            {% for point in technique.points %}
            <td class="py-2 px-4 border-b text-center">
                <!-- 
                name: for radio buttons have to all be the same (that is what lets the rendered know only one of each radio can be selected), this is what gets sent with the form as the key
                id: must be unique for each element
                value: this is the value that gets sent with the key    
                -->
                <input type="radio" name="technique--{{ technique.name|lower|replace(" ", "_") }}" value="{{ technique_group.technique_headers[loop.index0] }}--{{ point }}" id="technique--{{ technique.name|lower|replace(" ", "_") }}--rating--{{ technique_group.technique_headers[loop.index0] }}--points--{{ point }}" class="hidden peer" required>
                <label for="technique--{{ technique.name|lower|replace(" ", "_") }}--rating--{{ technique_group.technique_headers[loop.index0] }}--points--{{ point }}" class="inline-flex items-center justify-center w-16 h-12 p-2 text-sm font-medium text-gray-900 bg-white border-2 border-gray-300 rounded-lg cursor-pointer peer-checked:bg-blue-600 peer-checked:text-white peer-checked:border-transparent">
                    {{ point }}
                </label>
            </td>
            {% endfor %}



            <td class="py-2 px-4 border-b text-xl text-right">{{ technique.antithesis }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>