


{% if grade_summary.is_passing %}
    <div class="card shadow-md rounded border border-gray-300 mb-6 p-4 bg-green-100 hover:bg-green-200 text-center border-gray-100 hover:shadow-xl transition duration-300">
{% else %}
    <div class="card shadow-md rounded border border-gray-300 mb-6 p-4 bg-red-100 hover:bg-red-200 text-center border-gray-100 hover:shadow-xl transition duration-300">
{% endif %}


    <h2 class="text-2xl font-bold">Scoring Information</h2>
    {% match test_date %}
    {% when Some with (date) %}
        <p class="text-xl"><span class="font-semibold">Test Date: </span>{{ date|trim_end_chars(10) }}</p>
    {% when None %}
    {% endmatch %}

    {% match proctor_first_name %}
    {% when Some with (first_name) %}
        {% match proctor_last_name %}
        {% when Some with (last_name) %}
        <p class="text-xl"><span class="font-semibold">Proctor: </span>{{ first_name }} {{ last_name }}</p>
        {% when None %}
        {% endmatch %}
    {% when None %}
    {% endmatch %}

    <p class="text-xl"><span class="font-semibold">Score: </span> {{ grade_summary.achieved_score }} / {{ grade_summary.max_score }} = {{ "{:.0}"|format(grade_summary.achieved_percent * 100.0) }}%</p> 
    <p class="text-xl"><span class="font-semibold">Passing Score: </span>{{ "{:.0}"|format(grade_summary.minimum_percent * 100.0) }}%</p>


        {% if grade_summary.is_passing %}
            <p class="font-semibold text-xl"></p>
                Status: 
                <span class="font-bold text-green-700">Passing</span>
            </p>
        {% else %} 
            <p class="font-semibold text-xl">
                Status:
                <span class="font-bold text-red-700">Failing</span> 
            </p>


            {% match grade_summary.failure_explanation %}
                {% when Some with (failure_explanations) %}
                <ul>
                    {% for failure_explanation in failure_explanations %}
                        <li>
                        {% let split_vec = failure_explanation|split("-.-.") %}
                        {% if split_vec.len() == 2 %}
                            <span class="font-medium">Your score of <span class="text-red-600">{{ split_vec[0] }}</span> is lower than the minimum passing score of <span class="text-red-600">{{ split_vec[1] }}</span></span>
                        {% else if split_vec.len() == 3 %}
                            <span class="font-medium">Competency <span class="text-red-600">'{{ split_vec[0] }}'</span> is failing because a label of <span class="text-red-600">'{{ split_vec[1] }}'</span> was achieved, and the label(s) <span class="text-red-600">'{{ split_vec[2] }}'</span> fail the test.</span>
                        {% else if split_vec.len() == 4 %}
                            <span class="font-medium">Competency <span class="text-red-600">'{{split_vec[0]}}'</span> is failing because a label of <span class="text-red-600">'{{ split_vec[1] }}'</span> was achieved for the <span class="text-red-600">'{{ split_vec[2] }}'</span> category, and the label(s) <span class="text-red-600">'{{ split_vec[3] }}'</span> fail the test.</span>
                        {% else %}
                            <span class="font-medium">Something has gone wrong with the failure explanation. Contact support.</span>
                        {% endif %}
                        </li>
                        
                    {% endfor %}
                </ul>
                {% when None %}
            {% endmatch %}
        {% endif %}
</div>
