


{% if grade_summary.is_passing %}
    <div class="card shadow-md rounded border border-gray-300 mb-6 p-4 bg-green-100 hover:bg-green-200 text-center border-gray-100 hover:shadow-xl transition duration-300">
{% else %}
    <div class="card shadow-md rounded border border-gray-300 mb-6 p-4 bg-red-100 hover:bg-red-200 text-center border-gray-100 hover:shadow-xl transition duration-300">
{% endif %}


    <h2 class="text-2xl font-semibold">Scoring Information</h2>
    {% match test_date %}
    {% when Some with (date) %}
        <p class="text-xl"><strong>Test Date: </strong>{{ date|trim_end_chars(10) }}</p>
    {% when None %}
    {% endmatch %}

    {% match proctor_first_name %}
    {% when Some with (first_name) %}
        {% match proctor_last_name %}
        {% when Some with (last_name) %}
        <p class="text-xl"><strong>Proctor: </strong>{{ first_name }} {{ last_name }}</p>
        {% when None %}
        {% endmatch %}
    {% when None %}
    {% endmatch %}

    <p class="text-xl"><strong>Score: </strong> {{ grade_summary.achieved_score }} / {{ grade_summary.max_score }} = {{ "{:.0}"|format(grade_summary.achieved_percent * 100.0) }}%</p> 
    <p class="text-xl"><strong>Passing Score: </strong>{{ "{:.0}"|format(grade_summary.minimum_percent * 100.0) }}%</p>


        {% if grade_summary.is_passing %}
            <p class="font-bold text-xl"></p>
                Status: 
                <span class="text-green-700">Passing</span>
            </p>
        {% else %} 
            <p class="font-bold text-xl">
                Status:
                <span class="text-red-700">Failing</span> 
            </p>


            {% match grade_summary.failure_explanation %}
                {% when Some with (failure_explanations) %}
                <ul>
                    {% for failure_explanation in failure_explanations %}
                        <li>{{ failure_explanation }}</li>
                    {% endfor %}
                </ul>
                {% when None %}
            {% endmatch %}
        {% endif %}
</div>
