{% extends "base.html" %}

{% block navbar %}
   <nav class="border-gray-200 bg-gray-900">
    
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
      
      <!-- Logo -->

      <a href="/" class="flex items-center space-x-3">
          <img src="/static/images/dancexam_thumbnail_2.webp" class="h-8 rounded-full" alt="Dancexam Logo" />
          <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Dancexam</span>
      </a>

      <div class="flex md:order-last">
        <!-- Link Hamburger (mob/sm)  -->

        <button data-collapse-toggle="navbar-user" type="button" class="inline-flex items-center p-2 mr-4 w-10 h-10 justify-center text-sm text-gray-300 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200" aria-controls="navbar-user" aria-expanded="false">
          <span class="sr-only">Open main menu</span>
          <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1h15M1 7h15M1 13h15"/>
          </svg>
        </button>

        <!-- Sign-In/Up Button or User Dropdown -->
        <div class="flex items-center space-x-3 md:space-x-0" hx-get="/private/user-dropdown" hx-trigger="load"></div>
      </div>

      <!-- Column/Row of Links (col -- mob/sm // row -- md+) -->

      <div class="items-center justify-between hidden w-full md:flex md:w-auto" id="navbar-user">
        <ul class="flex flex-col font-medium p-4 md:p-0 mt-4 border-4 border-gray-100 rounded-lg md:space-x-8 md:flex-row md:mt-0 md:border-0 bg-gray-900">
          <li>
            <a 
              href="/" hx-boost="true" hx-select="#primary-content" hx-target="#primary-content" hx-swap="outerHTML" 
              class="block py-2 px-3 text-white rounded hover:bg-gray-800 md:hover:bg-transparent md:hover:text-blue-500 md:p-0" 
              aria-current="page">
              Home
            </a>
          </li>
          <li>
            <a href="/dashboard" class="block py-2 px-3 text-white rounded hover:bg-gray-800 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Dashboard</a>
          </li>
          <li>
            <a href="/queue" class="block py-2 px-3 text-white rounded hover:bg-gray-800 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Test Queue</a>
          </li>
          <li>
            <a href="/contact" class="block py-2 px-3 text-white rounded hover:bg-gray-800 md:hover:bg-transparent md:hover:text-blue-500 md:p-0">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </nav>

{% endblock %}
