{% extends "../extensible_templates/nav_on_top.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}



<div class="text-center mt-2 mx-2 border-gray-100 bg-gray-300 shadow-lg rounded-lg overflow-hidden md:p-2">
  <h1 class="py-2 text-2xl font-bold">Test Administration</h1>
  <div class="md:flex md:mb-2">
    <a href="/leader-test" class="md:flex-1 md:rounded-lg md:overflow-hidden md:mx-2 md:shadow">
      <h5 class="bg-gray-500 py-6 font-bold text-xl">Leader Test</h5>
    </a>  
    <a href="/follower-test" class="md:flex-1 md:rounded-lg md:overflow-hidden md:mx-2 md:shadow">
      <h5 class="bg-gray-500 py-6 font-bold text-xl">Follower Test</h5>
    </a> 
  </div> 
</div>

<div class="text-center mt-2 mx-2 border-gray-100 bg-gray-300 shadow-lg rounded-lg overflow-hidden md:p-2">
  <h1 class="py-2 text-2xl font-bold">Search Users</h1>
</div>


{% endblock %}