{% extends "./extensible_templates/nav_on_top.html" %}

{% block title %}View Tests{% endblock %}

{% block content %}

<div class="text-center mt-4 mx-4 bg-gray-50 shadow-lg rounded-lg p-6 hover:bg-gray-100 hover:shadow-xl transition duration-300">

{% match option_testee %}

    {% when Some with (testee) %}

        <h1 class="text-2xl font-bold my-4">Test Summaries</h1>
        <h2 class="text-xl font-bold my-4">For {{testee.first_name}} {{testee.last_name}}</h2>
    
    {% when None %}

        <div>Testee not found.</div>

    {% endmatch %}

{% match option_test_summaries %}

    {% when Some with (test_summaries) %}


        <div class="overflow-x-auto border-gray-200 border rounded-lg">
            <table class="min-w-full bg-gray-50 hover:bg-gray-100 hover:shadow-xl transition duration-300 rounded-lg overflow-hidden shadow-md">
                <thead>
                    <tr class="bg-gray-100 border-b hover:bg-gray-200 transition duration-300">
                        <th class="py-2 px-4">Test Date</th>
                        <th class="py-2 px-4">Test Name</th>
                        <th class="py-2 px-4">Pass/Fail</th>
                    </tr>
                </thead>
                <tbody>
                    {% for summary in test_summaries %}
                        {% if summary.grade_summary.is_passing %}
                            <tr class="border-b bg-green-100 hover:bg-green-200">
                        {% else %}
                            <tr class="border-b bg-red-100 hover:bg-red-200">
                        {% endif %}
                            <td class="py-2 px-4"><a href="/test-results/{{ summary.test_id }}" class="block py-2 px-4 hover:underline">{{ summary.test_date|trim_end_chars(10) }}</a></td>
                            <td class="py-2 px-4"><a href="/test-results/{{ summary.test_id }}" class="block py-2 px-4 hover:underline">{{ summary.test_name }}</a></td>
                            <td class="py-2 px-4"><a href="/test-results/{{ summary.test_id }}" class="block py-2 px-4 hover:underline">{% if summary.grade_summary.is_passing %}<span class="text-green-700 font-bold">Pass</span>{% else %} <span class="text-red-700 font-bold">Fail</span>{% endif %}  </a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        {% when None %}
        
        <p>This shouldn't be possible. Every testee that exists should have at least one test.</p>

    {% endmatch %}

</div>

{% endblock %}